.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container is centered vertically */
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  input[type="text"]
   {
    background: #f2f2f2; /* Gradient background */
    width: 100%;
    border: 0;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    /* Fallback background color */
    background-color: #fff;
  }
  .input[type="password"]{
    background: #f2f2f2; /* Gradient background */
    width: 100%;
    border: 0;border-radius: 0 0 5px 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    /* Fallback background color */
    background-color: #fff;

  }
  
  input[type="checkbox"] {
    margin: 25px 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ee5566;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  button[type="submit"]:hover {
    background-color: #6798c9;
  }
  
  button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #82aad5; /* Example focus style */
  }
  .forgetPassword {
    color: white;
  }
  